<div style="display: flex;justify-content: center; flex-direction: column;align-items: center">
    <h1 style="">Мои проекты</h1>

    <div style="display: flex;align-items: center;justify-content: center;flex-flow: row wrap;">
        <div ng-repeat="p in ProjectsList" class="card" style="width: 18rem;height: 11rem;margin-top: 30px;margin-left:20px;">
            <div class="card-body" style="display: flex;flex-direction: column;align-items: center;">
                <h5 class="card-title">{{p.name}}</h5>
                <p class="card-text">{{p.description}}</p>
                <a href="#!/in_project/{{p.id}}" class="btn btn-primary" style="">Открыть</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;height: 11rem;margin-top: 30px;margin-left:20px;">
            <form novalidate ng-submit="submitCreateNewProject()" name="newProjectForm">
                <div class="card-body" style="display: flex;flex-direction: column;align-items: center;align-content: center">
                    <div class="form-group col-md-6">
                        <input name="inputName" class="form-control form-control-sm" type="text" placeholder="Название" ng-model="newProject.name" id="newProjectName">
                    </div>
                    <div class="form-group col-md-6">
                        <input class="form-control form-control-sm" type="text" placeholder="Описание" ng-model="newProject.description" id="newProjectDescription">
                    </div>
                    <div>
                        <button class="btn btn-primary" type="submit">Создать</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div ng-model="status">
        <div ng-if="status.success" class="alert alert-warning">
            You forgot to enter project name...
        </div>
    </div>
</div>