<div>
    <h1 ng-model="project">{{project.name}}</h1>
    <form novalidate ng-submit="submitCreateNewTask()" name="newTaskForm">
        <div class="card-body" style="display: flex;flex-direction: column;align-items: center;align-content: center;border: 2px solid;">
            <h3>Создать новую задачу</h3>
            <div class="form-group col-md-6">
                <input name="inputName" class="form-control form-control-sm" type="text" placeholder="Название" ng-model="newTask.name" id="newTaskName">
            </div>
            <div>
                <button class="btn btn-primary" type="submit">Создать</button>
            </div>
        </div>
    </form>
    <div style="display: flex;justify-content: space-between;margin-top: 30px">
        <div style="width: 20rem;margin-left: 10px;margin-right: 10px;display: flex;flex-direction: column">
            <ul class="list-group-item list-group-item-primary"><b>Создана</b>
                <li ng-repeat="t in CreatedTasks" class="list-group-item">{{t.name}}</li>
            </ul>
        </div>
        <div style="width: 20rem;margin-left: 10px;margin-right: 10px;display: flex;flex-direction: column">
            <ul class="list-group-item list-group-item-warning"><b>В работе</b>
                <li ng-repeat="t in InProgressTasks" class="list-group-item">{{t.name}}</li>
            </ul>
        </div>
        <div style="width: 20rem;margin-left: 10px;margin-right: 10px;display: flex;flex-direction: column">
            <ul class="list-group-item list-group-item-info"><b>На проверке</b>
                <li ng-repeat="t in InReviewTasks" class="list-group-item">{{t.name}}</li>
            </ul>
        </div>
        <div style="width: 20rem;margin-left: 10px;margin-right: 10px;display: flex;flex-direction: column">
            <ul class="list-group-item list-group-item-dark"><b>Возвращена на доработку</b>
                <li ng-repeat="t in InRework" class="list-group-item">{{t.name}}</li>
            </ul>
        </div>
        <div style="width: 20rem;margin-left: 10px;margin-right: 10px;display: flex;flex-direction: column">
            <ul class="list-group-item list-group-item-success"><b>Завершена</b>
                <li ng-repeat="t in CompletedTasks" class="list-group-item">{{t.name}}</li>
            </ul>
        </div>
        <div style="width: 20rem;margin-left: 10px;margin-right: 10px;display: flex;flex-direction: column">
            <ul class="list-group-item list-group-item-danger"><b>Отменена</b>
                <li ng-repeat="t in CanceledTasks" class="list-group-item">{{t.name}}</li>
            </ul>
        </div>
    </div>
</div>